<a href="https://colab.research.google.com/github/shubhkhatwase/Exploratory-data-analysis-/blob/main/PANDAS_CONCEPT_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **What is Pandas???**

##**PANDAS FULL FORM**
### PYTHON DATA ANALYSIS LIBRARY
#*Pandas is used for data manipulation and cleaning.*

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series([1,2,3,4,np.nan,5,6,7,8])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    6.0
7    7.0
8    8.0
dtype: float64

In [ ]:
d = pd.date_range("20200301",periods = 20)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df1 = pd.DataFrame(np.random.randn(20,4),index = d,columns = ['A','B','C','D'])
df1

                   A         B         C         D
2020-03-01 -0.357421 -0.396683 -1.263637  1.940959
2020-03-02 -1.311749 -1.367188 -1.187493 -0.958373
2020-03-03 -0.194538  0.689234 -0.178854 -1.466186
2020-03-04 -0.024358  0.938846 -1.219973  0.319115
2020-03-05 -1.065559  1.527856 -1.011098  0.160632
2020-03-06  1.651525 -0.785319 -0.156777  0.558625
2020-03-07  0.270294  1.120798  1.079648 -2.192661
2020-03-08  0.403260  1.033784  0.275568 -0.225860
2020-03-09 -1.931665 -1.758031  0.874007  0.377255
2020-03-10 -0.117934 -0.908221 -0.206283  0.436651
2020-03-11 -0.814848 -0.017186 -0.520509  0.292476
2020-03-12  1.753508  0.674180  0.202072  0.298971
2020-03-13  0.213572 -0.375710 -0.712420 -0.116596
2020-03-14 -1.247170  1.779187 -0.409049 -0.853410
2020-03-15 -0.709888  0.194139 -1.381762  1.487426
2020-03-16  0.288475 -0.075705 -2.036637  0.881966
2020-03-17  1.221359 -2.147673  0.794425 -0.210688
2020-03-18  0.886073  0.648322  0.747063  1.209426
2020-03-19 -1.656508  0.275195  0.712916 -1.581752
2020-03-20  0.144863 -0.251836 -0.737938  0.477851

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4],
                  'B':pd.Timestamp('20200301'),
                  'C':pd.Series(1,index = list(range(4)),dtype = 'float32'),
                  'D':np.array([5]*4,dtype = 'int32'),
                  'E':pd.Categorical(['True','False','True','False']),
                  'F':'Shubh khatwase'})
df

   A          B    C  D      E               F
0  1 2020-03-01  1.0  5   True  Shubh khatwase
1  2 2020-03-01  1.0  5  False  Shubh khatwase
2  3 2020-03-01  1.0  5   True  Shubh khatwase
3  4 2020-03-01  1.0  5  False  Shubh khatwase

In [ ]:
df.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
df1.head()

                   A         B         C         D
2020-03-01 -0.357421 -0.396683 -1.263637  1.940959
2020-03-02 -1.311749 -1.367188 -1.187493 -0.958373
2020-03-03 -0.194538  0.689234 -0.178854 -1.466186
2020-03-04 -0.024358  0.938846 -1.219973  0.319115
2020-03-05 -1.065559  1.527856 -1.011098  0.160632

In [ ]:
df1.tail()

                   A         B         C         D
2020-03-16  0.288475 -0.075705 -2.036637  0.881966
2020-03-17  1.221359 -2.147673  0.794425 -0.210688
2020-03-18  0.886073  0.648322  0.747063  1.209426
2020-03-19 -1.656508  0.275195  0.712916 -1.581752
2020-03-20  0.144863 -0.251836 -0.737938  0.477851

In [ ]:
df1.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.to_numpy

<bound method DataFrame.to_numpy of    A          B    C  D      E               F
0  1 2020-03-01  1.0  5   True  Shubh khatwase
1  2 2020-03-01  1.0  5  False  Shubh khatwase
2  3 2020-03-01  1.0  5   True  Shubh khatwase
3  4 2020-03-01  1.0  5  False  Shubh khatwase>

In [ ]:
df1.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean   -0.129935   0.039899  -0.316837   0.041791
std     1.035219   1.064241   0.885564   1.040661
min    -1.931665  -2.147673  -2.036637  -2.192661
25%    -0.877526  -0.493842  -1.055197  -0.382747
50%    -0.071146   0.088477  -0.307666   0.295723
75%     0.317171   0.751637   0.384905   0.498045
max     1.753508   1.779187   1.079648   1.940959

In [ ]:
df1.sort_index(axis = 1,ascending = False)

                   D         C         B         A
2020-03-01  1.940959 -1.263637 -0.396683 -0.357421
2020-03-02 -0.958373 -1.187493 -1.367188 -1.311749
2020-03-03 -1.466186 -0.178854  0.689234 -0.194538
2020-03-04  0.319115 -1.219973  0.938846 -0.024358
2020-03-05  0.160632 -1.011098  1.527856 -1.065559
2020-03-06  0.558625 -0.156777 -0.785319  1.651525
2020-03-07 -2.192661  1.079648  1.120798  0.270294
2020-03-08 -0.225860  0.275568  1.033784  0.403260
2020-03-09  0.377255  0.874007 -1.758031 -1.931665
2020-03-10  0.436651 -0.206283 -0.908221 -0.117934
2020-03-11  0.292476 -0.520509 -0.017186 -0.814848
2020-03-12  0.298971  0.202072  0.674180  1.753508
2020-03-13 -0.116596 -0.712420 -0.375710  0.213572
2020-03-14 -0.853410 -0.409049  1.779187 -1.247170
2020-03-15  1.487426 -1.381762  0.194139 -0.709888
2020-03-16  0.881966 -2.036637 -0.075705  0.288475
2020-03-17 -0.210688  0.794425 -2.147673  1.221359
2020-03-18  1.209426  0.747063  0.648322  0.886073
2020-03-19 -1.581752  0.712916  0.275195 -1.656508
2020-03-20  0.477851 -0.737938 -0.251836  0.144863

In [ ]:
df1['C']

2020-03-01   -1.263637
2020-03-02   -1.187493
2020-03-03   -0.178854
2020-03-04   -1.219973
2020-03-05   -1.011098
2020-03-06   -0.156777
2020-03-07    1.079648
2020-03-08    0.275568
2020-03-09    0.874007
2020-03-10   -0.206283
2020-03-11   -0.520509
2020-03-12    0.202072
2020-03-13   -0.712420
2020-03-14   -0.409049
2020-03-15   -1.381762
2020-03-16   -2.036637
2020-03-17    0.794425
2020-03-18    0.747063
2020-03-19    0.712916
2020-03-20   -0.737938
Freq: D, Name: C, dtype: float64

In [ ]:
df1[0:3]

                   A         B         C         D
2020-03-01 -0.357421 -0.396683 -1.263637  1.940959
2020-03-02 -1.311749 -1.367188 -1.187493 -0.958373
2020-03-03 -0.194538  0.689234 -0.178854 -1.466186

In [ ]:
df1[0:5]

                   A         B         C         D
2020-03-01 -0.357421 -0.396683 -1.263637  1.940959
2020-03-02 -1.311749 -1.367188 -1.187493 -0.958373
2020-03-03 -0.194538  0.689234 -0.178854 -1.466186
2020-03-04 -0.024358  0.938846 -1.219973  0.319115
2020-03-05 -1.065559  1.527856 -1.011098  0.160632

In [ ]:
df1.loc[d[0]]

A   -0.357421
B   -0.396683
C   -1.263637
D    1.940959
Name: 2020-03-01 00:00:00, dtype: float64

In [ ]:
df1.loc[:,['A','B']]

                   A         B
2020-03-01 -0.357421 -0.396683
2020-03-02 -1.311749 -1.367188
2020-03-03 -0.194538  0.689234
2020-03-04 -0.024358  0.938846
2020-03-05 -1.065559  1.527856
2020-03-06  1.651525 -0.785319
2020-03-07  0.270294  1.120798
2020-03-08  0.403260  1.033784
2020-03-09 -1.931665 -1.758031
2020-03-10 -0.117934 -0.908221
2020-03-11 -0.814848 -0.017186
2020-03-12  1.753508  0.674180
2020-03-13  0.213572 -0.375710
2020-03-14 -1.247170  1.779187
2020-03-15 -0.709888  0.194139
2020-03-16  0.288475 -0.075705
2020-03-17  1.221359 -2.147673
2020-03-18  0.886073  0.648322
2020-03-19 -1.656508  0.275195
2020-03-20  0.144863 -0.251836

In [ ]:
df1.loc['20200306',['C','D']]

C   -0.156777
D    0.558625
Name: 2020-03-06 00:00:00, dtype: float64

In [ ]:
df1.at[d[0],'A']

-0.3574207071387249

In [ ]:
df1.iloc[3]

A   -0.024358
B    0.938846
C   -1.219973
D    0.319115
Name: 2020-03-04 00:00:00, dtype: float64

In [ ]:
df1.iloc[3:5,0:2]

                   A         B
2020-03-04 -0.024358  0.938846
2020-03-05 -1.065559  1.527856

In [ ]:
df1[df1['A']>0]

                   A         B         C         D
2020-03-06  1.651525 -0.785319 -0.156777  0.558625
2020-03-07  0.270294  1.120798  1.079648 -2.192661
2020-03-08  0.403260  1.033784  0.275568 -0.225860
2020-03-12  1.753508  0.674180  0.202072  0.298971
2020-03-13  0.213572 -0.375710 -0.712420 -0.116596
2020-03-16  0.288475 -0.075705 -2.036637  0.881966
2020-03-17  1.221359 -2.147673  0.794425 -0.210688
2020-03-18  0.886073  0.648322  0.747063  1.209426
2020-03-20  0.144863 -0.251836 -0.737938  0.477851

# **Handling the missing data**
missing data or null values in a data can create alot of ruckets in the other stages of data science life cycle. it is very important to deal with the missing data in a effective manner.

In [ ]:
df2 = df1.reindex(index = d[0:4],columns = list(df.columns)+['E']),df2.loca[d[0]:d[1],'E']= 1
df2

SyntaxError: ignored

# **Pandas operator**
defferent operation helps to explore the daa t reach conclusions.

In [ ]:
import pandas as pd
import numpy as np
d = pd.date_range("20200301",periods = 20)
df1 = pd.DataFrame(np.random.randn(20,4),index = d,columns = ['A','B','C','D'])
df1.mean()

A    0.022431
B    0.133912
C    0.240694
D   -0.007088
dtype: float64

In [ ]:
df1.mean(1)

2020-03-01    0.264125
2020-03-02    0.421306
2020-03-03    0.762677
2020-03-04    0.657476
2020-03-05   -0.296528
2020-03-06   -0.866574
2020-03-07    0.377490
2020-03-08    0.354749
2020-03-09    0.490277
2020-03-10   -0.401742
2020-03-11    0.555814
2020-03-12   -0.396788
2020-03-13   -0.681328
2020-03-14   -0.073235
2020-03-15    0.030787
2020-03-16    0.073218
2020-03-17    0.131002
2020-03-18    0.445579
2020-03-19    0.064048
2020-03-20    0.037395
Freq: D, dtype: float64

In [ ]:
s = pd.Series([1,2,3,4,5,np.nan,6,8,9])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
7    8.0
8    9.0
dtype: float64

In [ ]:
df1.sub(s,axis = 'index' )
df1

                   A         B         C         D
2020-03-01  2.457942  0.490398 -1.326528 -0.565311
2020-03-02  2.487513 -0.482686  0.121386 -0.440991
2020-03-03  0.058550 -0.218112  2.065276  1.144996
2020-03-04 -0.107850  0.402541  0.578871  1.756344
2020-03-05 -0.189532 -1.105810 -0.800448  0.909678
2020-03-06 -1.464317 -1.966800  0.345032 -0.380210
2020-03-07  1.832705  0.150326 -1.366956  0.893884
2020-03-08  0.575296  0.421724  1.570298 -1.148322
2020-03-09 -0.955063  1.528702  2.005084 -0.617616
2020-03-10  0.183307  0.608750 -1.576834 -0.822191
2020-03-11  1.178596  0.562214  0.698288 -0.215843
2020-03-12 -1.545633 -0.693340  0.641300  0.010519
2020-03-13 -3.161084  0.177541  0.352352 -0.094122
2020-03-14 -0.614211  0.351466  0.980927 -1.011121
2020-03-15 -1.284228  0.724053 -0.115971  0.799292
2020-03-16  1.255881 -0.843929  0.775407 -0.894488
2020-03-17 -0.126383 -0.282284 -0.363152  1.295827
2020-03-18 -0.495189  0.251059  1.085842  0.940603
2020-03-19  0.729995 -0.146852 -0.142574 -0.184376
2020-03-20 -0.367675  2.749271 -0.713709 -1.518306

In [ ]:
df1.apply(np.cumsum)

                   A         B         C         D
2020-03-01  2.457942  0.490398 -1.326528 -0.565311
2020-03-02  4.945455  0.007712 -1.205142 -1.006303
2020-03-03  5.004004 -0.210400  0.860134  0.138693
2020-03-04  4.896154  0.192141  1.439005  1.895037
2020-03-05  4.706622 -0.913669  0.638557  2.804715
2020-03-06  3.242306 -2.880469  0.983589  2.424505
2020-03-07  5.075010 -2.730143 -0.383368  3.318389
2020-03-08  5.650306 -2.308418  1.186930  2.170067
2020-03-09  4.695243 -0.779716  3.192014  1.552451
2020-03-10  4.878550 -0.170967  1.615180  0.730260
2020-03-11  6.057146  0.391247  2.313469  0.514417
2020-03-12  4.511513 -0.302093  2.954769  0.524936
2020-03-13  1.350429 -0.124551  3.307120  0.430814
2020-03-14  0.736218  0.226915  4.288048 -0.580307
2020-03-15 -0.548010  0.950968  4.172076  0.218985
2020-03-16  0.707871  0.107039  4.947483 -0.675503
2020-03-17  0.581488 -0.175246  4.584330  0.620324
2020-03-18  0.086299  0.075813  5.670173  1.560927
2020-03-19  0.816294 -0.071039  5.527599  1.376551
2020-03-20  0.448619  2.678231  4.813890 -0.141755

In [ ]:
df1.apply(lambda x:x.max()-x.min())

A    5.648597
B    4.716071
C    3.642109
D    3.274650
dtype: float64

In [ ]:
s.value_counts()

1.0    1
2.0    1
3.0    1
4.0    1
5.0    1
6.0    1
8.0    1
9.0    1
dtype: int64

In [ ]:
s = pd.Series(['shubh','sandhya','karan','kiran','lakshmi','siya',np.nan,'cat','dog','wild'])
s

0      shubh
1    sandhya
2      karan
3      kiran
4    lakshmi
5       siya
6        NaN
7        cat
8        dog
9       wild
dtype: object

In [ ]:
s.str.lower()

0      shubh
1    sandhya
2      karan
3      kiran
4    lakshmi
5       siya
6        NaN
7        cat
8        dog
9       wild
dtype: object

In [ ]:
s.str.upper()

0      SHUBH
1    SANDHYA
2      KARAN
3      KIRAN
4    LAKSHMI
5       SIYA
6        NaN
7        CAT
8        DOG
9       WILD
dtype: object

In [ ]:
df1 = pd.DataFrame(np.random.randn(10,4))
df2= [df1[:3],df1[3:7],df1[7:]]
df2

[          0         1         2         3
 0 -0.022474 -0.597622  0.465846 -0.943918
 1  0.464299 -0.152433 -1.090527  0.389430
 2 -0.828645  0.856247  0.174108  1.270094,
           0         1         2         3
 3 -1.157890  1.403032 -1.389161  0.316040
 4  0.094727  1.842296  0.001918 -0.046635
 5  1.043756  0.311809  0.453991  1.800101
 6  0.849066 -1.784216  0.860717  0.259988,
           0         1         2         3
 7  0.965713  0.375172 -0.726165 -0.093024
 8  0.937450 -0.002378 -0.944194  0.354160
 9  2.240350 -0.804479  2.317775  0.114434]

In [ ]:
left = pd.DataFrame({'A':[1,2],'B':[3,4]})
right = pd.DataFrame({'A':[5,6],'D':[7,8]})

In [ ]:
left

   A  B
0  1  3
1  2  4

In [ ]:
right

   A  D
0  5  7
1  6  8

In [ ]:
pd.merge(left,right,on = 'A')

Empty DataFrame
Columns: [A, B, D]
Index: []

In [ ]:
df1.groupby(2).sum()
df1

          0         1         2         3
0 -0.022474 -0.597622  0.465846 -0.943918
1  0.464299 -0.152433 -1.090527  0.389430
2 -0.828645  0.856247  0.174108  1.270094
3 -1.157890  1.403032 -1.389161  0.316040
4  0.094727  1.842296  0.001918 -0.046635
5  1.043756  0.311809  0.453991  1.800101
6  0.849066 -1.784216  0.860717  0.259988
7  0.965713  0.375172 -0.726165 -0.093024
8  0.937450 -0.002378 -0.944194  0.354160
9  2.240350 -0.804479  2.317775  0.114434

In [ ]:
my_tuple = list(zip(*[[1,2,3,4,5,6,10,15,18,21],[9,7,8,11,12,13,14,16,17,19]]))
my_tuple

[(1, 9),
 (2, 7),
 (3, 8),
 (4, 11),
 (5, 12),
 (6, 13),
 (10, 14),
 (15, 16),
 (18, 17),
 (21, 19)]

In [ ]:
index = pd.MultiIndex.from_tuples(my_tuple,name = ['first','second'])
index

MultiIndex([( 1,  9),
            ( 2,  7),
            ( 3,  8),
            ( 4, 11),
            ( 5, 12),
            ( 6, 13),
            (10, 14),
            (15, 16),
            (18, 17),
            (21, 19)],
           names=['first', 'second'])

In [ ]:
df = pd.DataFrame(np.random.randn(10,2),index,columns = ['A','B'])
df

                     A         B
first second
1     9       0.852156  0.327907
2     7       0.182060 -0.125373
3     8      -0.040444  1.021345
4     11     -0.737225 -0.550123
5     12      1.243291  1.378102
6     13     -0.690166  1.553529
10    14      0.769275 -1.664775
15    16     -2.419682  0.315906
18    17      1.319793  0.077102
21    19     -2.094813  0.983816

In [ ]:
df2 = df[:4]
df2

                     A         B
first second
1     9       0.852156  0.327907
2     7       0.182060 -0.125373
3     8      -0.040444  1.021345
4     11     -0.737225 -0.550123

In [ ]:
df2.stack()

first  second
1      9       A    0.852156
               B    0.327907
2      7       A    0.182060
               B   -0.125373
3      8       A   -0.040444
               B    1.021345
4      11      A   -0.737225
               B   -0.550123
dtype: float64

In [ ]:
a = df2.unstack()
a

               A                                      B                      \
second        9        7         8         11        9         7         8
first
1       0.852156      NaN       NaN       NaN  0.327907       NaN       NaN
2            NaN  0.18206       NaN       NaN       NaN -0.125373       NaN
3            NaN      NaN -0.040444       NaN       NaN       NaN  1.021345
4            NaN      NaN       NaN -0.737225       NaN       NaN       NaN


second        11
first
1            NaN
2            NaN
3            NaN
4      -0.550123

In [ ]:
a.unstack()

   second  first
A  9       1        0.852156
           2             NaN
           3             NaN
           4             NaN
   7       1             NaN
           2        0.182060
           3             NaN
           4             NaN
   8       1             NaN
           2             NaN
           3       -0.040444
           4             NaN
   11      1             NaN
           2             NaN
           3             NaN
           4       -0.737225
B  9       1        0.327907
           2             NaN
           3             NaN
           4             NaN
   7       1             NaN
           2       -0.125373
           3             NaN
           4             NaN
   8       1             NaN
           2             NaN
           3        1.021345
           4             NaN
   11      1             NaN
           2             NaN
           3             NaN
           4       -0.550123
dtype: float64

In [ ]:
df = pd.DataFrame({'A':['a','b','c','d']*3,
                   'B':['A','B','C']*(4),
                   'C':['P','P','P', 'Q','Q','Q']*2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})

df

    A  B  C         D         E
0   a  A  P  0.067484 -0.793227
1   b  B  P  1.587496  2.297654
2   c  C  P  0.295503  2.010307
3   d  A  Q -1.206409 -0.278114
4   a  B  Q -2.256014  0.130003
5   b  C  Q -0.702704 -1.657797
6   c  A  P -0.131408 -0.481541
7   d  B  P -1.581177 -0.053224
8   a  C  P -0.120580  0.296608
9   b  A  Q -0.864168  0.480041
10  c  B  Q -0.602080  0.791332
11  d  C  Q  1.505280  0.229757

In [ ]:
pd.pivot_table(df,values='D',index = ['A','B'],columns=['C'])

C           P         Q
A B
a A  0.067484       NaN
  B       NaN -2.256014
  C -0.120580       NaN
b A       NaN -0.864168
  B  1.587496       NaN
  C       NaN -0.702704
c A -0.131408       NaN
  B       NaN -0.602080
  C  0.295503       NaN
d A       NaN -1.206409
  B -1.581177       NaN
  C       NaN  1.505280

## Time Series & categorical Data
pandas has sample , powerful and effiecient functionallity for performing resampling operations during frequency conversion.

In [ ]:
date = pd.date_range(('20200301'),periods = 100,freq = 'S')
date

DatetimeIndex(['2020-03-01 00:00:00', '2020-03-01 00:00:01',
               '2020-03-01 00:00:02', '2020-03-01 00:00:03',
               '2020-03-01 00:00:04', '2020-03-01 00:00:05',
               '2020-03-01 00:00:06', '2020-03-01 00:00:07',
               '2020-03-01 00:00:08', '2020-03-01 00:00:09',
               '2020-03-01 00:00:10', '2020-03-01 00:00:11',
               '2020-03-01 00:00:12', '2020-03-01 00:00:13',
               '2020-03-01 00:00:14', '2020-03-01 00:00:15',
               '2020-03-01 00:00:16', '2020-03-01 00:00:17',
               '2020-03-01 00:00:18', '2020-03-01 00:00:19',
               '2020-03-01 00:00:20', '2020-03-01 00:00:21',
               '2020-03-01 00:00:22', '2020-03-01 00:00:23',
               '2020-03-01 00:00:24', '2020-03-01 00:00:25',
               '2020-03-01 00:00:26', '2020-03-01 00:00:27',
               '2020-03-01 00:00:28', '2020-03-01 00:00:29',
               '2020-03-01 00:00:30', '2020-03-01 00:00:31',
               '2020-03-01 00:00:32', '2020-03-01 00:00:33',
               '2020-03-01 00:00:34', '2020-03-01 00:00:35',
               '2020-03-01 00:00:36', '2020-03-01 00:00:37',
               '2020-03-01 00:00:38', '2020-03-01 00:00:39',
               '2020-03-01 00:00:40', '2020-03-01 00:00:41',
               '2020-03-01 00:00:42', '2020-03-01 00:00:43',
               '2020-03-01 00:00:44', '2020-03-01 00:00:45',
               '2020-03-01 00:00:46', '2020-03-01 00:00:47',
               '2020-03-01 00:00:48', '2020-03-01 00:00:49',
               '2020-03-01 00:00:50', '2020-03-01 00:00:51',
               '2020-03-01 00:00:52', '2020-03-01 00:00:53',
               '2020-03-01 00:00:54', '2020-03-01 00:00:55',
               '2020-03-01 00:00:56', '2020-03-01 00:00:57',
               '2020-03-01 00:00:58', '2020-03-01 00:00:59',
               '2020-03-01 00:01:00', '2020-03-01 00:01:01',
               '2020-03-01 00:01:02', '2020-03-01 00:01:03',
               '2020-03-01 00:01:04', '2020-03-01 00:01:05',
               '2020-03-01 00:01:06', '2020-03-01 00:01:07',
               '2020-03-01 00:01:08', '2020-03-01 00:01:09',
               '2020-03-01 00:01:10', '2020-03-01 00:01:11',
               '2020-03-01 00:01:12', '2020-03-01 00:01:13',
               '2020-03-01 00:01:14', '2020-03-01 00:01:15',
               '2020-03-01 00:01:16', '2020-03-01 00:01:17',
               '2020-03-01 00:01:18', '2020-03-01 00:01:19',
               '2020-03-01 00:01:20', '2020-03-01 00:01:21',
               '2020-03-01 00:01:22', '2020-03-01 00:01:23',
               '2020-03-01 00:01:24', '2020-03-01 00:01:25',
               '2020-03-01 00:01:26', '2020-03-01 00:01:27',
               '2020-03-01 00:01:28', '2020-03-01 00:01:29',
               '2020-03-01 00:01:30', '2020-03-01 00:01:31',
               '2020-03-01 00:01:32', '2020-03-01 00:01:33',
               '2020-03-01 00:01:34', '2020-03-01 00:01:35',
               '2020-03-01 00:01:36', '2020-03-01 00:01:37',
               '2020-03-01 00:01:38', '2020-03-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [ ]:
dates = pd.date_range('3/3/2020',periods = 100,freq = 'S')
dates

DatetimeIndex(['2020-03-03 00:00:00', '2020-03-03 00:00:01',
               '2020-03-03 00:00:02', '2020-03-03 00:00:03',
               '2020-03-03 00:00:04', '2020-03-03 00:00:05',
               '2020-03-03 00:00:06', '2020-03-03 00:00:07',
               '2020-03-03 00:00:08', '2020-03-03 00:00:09',
               '2020-03-03 00:00:10', '2020-03-03 00:00:11',
               '2020-03-03 00:00:12', '2020-03-03 00:00:13',
               '2020-03-03 00:00:14', '2020-03-03 00:00:15',
               '2020-03-03 00:00:16', '2020-03-03 00:00:17',
               '2020-03-03 00:00:18', '2020-03-03 00:00:19',
               '2020-03-03 00:00:20', '2020-03-03 00:00:21',
               '2020-03-03 00:00:22', '2020-03-03 00:00:23',
               '2020-03-03 00:00:24', '2020-03-03 00:00:25',
               '2020-03-03 00:00:26', '2020-03-03 00:00:27',
               '2020-03-03 00:00:28', '2020-03-03 00:00:29',
               '2020-03-03 00:00:30', '2020-03-03 00:00:31',
               '2020-03-03 00:00:32', '2020-03-03 00:00:33',
               '2020-03-03 00:00:34', '2020-03-03 00:00:35',
               '2020-03-03 00:00:36', '2020-03-03 00:00:37',
               '2020-03-03 00:00:38', '2020-03-03 00:00:39',
               '2020-03-03 00:00:40', '2020-03-03 00:00:41',
               '2020-03-03 00:00:42', '2020-03-03 00:00:43',
               '2020-03-03 00:00:44', '2020-03-03 00:00:45',
               '2020-03-03 00:00:46', '2020-03-03 00:00:47',
               '2020-03-03 00:00:48', '2020-03-03 00:00:49',
               '2020-03-03 00:00:50', '2020-03-03 00:00:51',
               '2020-03-03 00:00:52', '2020-03-03 00:00:53',
               '2020-03-03 00:00:54', '2020-03-03 00:00:55',
               '2020-03-03 00:00:56', '2020-03-03 00:00:57',
               '2020-03-03 00:00:58', '2020-03-03 00:00:59',
               '2020-03-03 00:01:00', '2020-03-03 00:01:01',
               '2020-03-03 00:01:02', '2020-03-03 00:01:03',
               '2020-03-03 00:01:04', '2020-03-03 00:01:05',
               '2020-03-03 00:01:06', '2020-03-03 00:01:07',
               '2020-03-03 00:01:08', '2020-03-03 00:01:09',
               '2020-03-03 00:01:10', '2020-03-03 00:01:11',
               '2020-03-03 00:01:12', '2020-03-03 00:01:13',
               '2020-03-03 00:01:14', '2020-03-03 00:01:15',
               '2020-03-03 00:01:16', '2020-03-03 00:01:17',
               '2020-03-03 00:01:18', '2020-03-03 00:01:19',
               '2020-03-03 00:01:20', '2020-03-03 00:01:21',
               '2020-03-03 00:01:22', '2020-03-03 00:01:23',
               '2020-03-03 00:01:24', '2020-03-03 00:01:25',
               '2020-03-03 00:01:26', '2020-03-03 00:01:27',
               '2020-03-03 00:01:28', '2020-03-03 00:01:29',
               '2020-03-03 00:01:30', '2020-03-03 00:01:31',
               '2020-03-03 00:01:32', '2020-03-03 00:01:33',
               '2020-03-03 00:01:34', '2020-03-03 00:01:35',
               '2020-03-03 00:01:36', '2020-03-03 00:01:37',
               '2020-03-03 00:01:38', '2020-03-03 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [ ]:
 ts = pd.Series(np.random.randint(0,500,len(dates)),dates)
 ts.resample('5min').sum()

2020-03-03    25960
Freq: 5T, dtype: int64

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2020-03-03 00:00:00+00:00    214
2020-03-03 00:00:01+00:00    374
2020-03-03 00:00:02+00:00    156
2020-03-03 00:00:03+00:00    424
2020-03-03 00:00:04+00:00    278
                            ...
2020-03-03 00:01:35+00:00    154
2020-03-03 00:01:36+00:00    430
2020-03-03 00:01:37+00:00    413
2020-03-03 00:01:38+00:00    361
2020-03-03 00:01:39+00:00    409
Freq: S, Length: 100, dtype: int64

In [ ]:
ts_utc.tz_convert('US/EASTERN')
ts_utc

2020-03-03 00:00:00+00:00    214
2020-03-03 00:00:01+00:00    374
2020-03-03 00:00:02+00:00    156
2020-03-03 00:00:03+00:00    424
2020-03-03 00:00:04+00:00    278
                            ...
2020-03-03 00:01:35+00:00    154
2020-03-03 00:01:36+00:00    430
2020-03-03 00:01:37+00:00    413
2020-03-03 00:01:38+00:00    361
2020-03-03 00:01:39+00:00    409
Freq: S, Length: 100, dtype: int64

In [ ]:
dates = pd.date_range('3/3/2020 00:00',periods = 100,freq = 'M')
ts = pd.Series(np.random.randn(len(dates)),dates)
ts

2020-03-31    0.972022
2020-04-30    0.683464
2020-05-31    1.553430
2020-06-30   -0.494208
2020-07-31   -0.601431
                ...
2028-02-29   -0.783652
2028-03-31    0.857412
2028-04-30   -1.117384
2028-05-31    0.073700
2028-06-30   -1.615942
Freq: M, Length: 100, dtype: float64

In [ ]:
ps = ts.to_period()
ps

2020-03    0.972022
2020-04    0.683464
2020-05    1.553430
2020-06   -0.494208
2020-07   -0.601431
             ...
2028-02   -0.783652
2028-03    0.857412
2028-04   -1.117384
2028-05    0.073700
2028-06   -1.615942
Freq: M, Length: 100, dtype: float64

In [ ]:
ps.to_timestamp()

2020-03-01    0.972022
2020-04-01    0.683464
2020-05-01    1.553430
2020-06-01   -0.494208
2020-07-01   -0.601431
                ...
2028-02-01   -0.783652
2028-03-01    0.857412
2028-04-01   -1.117384
2028-05-01    0.073700
2028-06-01   -1.615942
Freq: MS, Length: 100, dtype: float64

In [ ]:
df = pd.DataFrame({'id':[1,2,3,4,5,6],
                  'Grade':['a','b','c','d','e','a']})
df

   id Grade
0   1     a
1   2     b
2   3     c
3   4     d
4   5     e
5   6     a

In [ ]:
df['Grade'] = df['grade'].astype('category')
df['Grade']

0    a
1    b
2    c
3    d
4    e
5    a
Name: Grade, dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [ ]:
df['Grade'].cat.categories = ["good","very good","bed","exellent",'very bed']

In [ ]:
df['grade']= df['Grade'].cat.set_categories(["very good","good","mediem","superb","sepply"])
df['grade']

0         good
1    very good
2          NaN
3          NaN
4          NaN
5         good
Name: grade, dtype: category
Categories (5, object): ['very good', 'good', 'mediem', 'superb', 'sepply']